/* -------////////------Media Query ------///////-------- */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 25px 100px 0px 100px;
  }
  .bannerses {
    padding: 70px 100px;
  }
  .banner h1 {
    font-size: 50px;
    margin-right: 35px;
    line-height: 50px;
  }
  article {
    grid-template-columns: auto auto;
  }
  .copas {
    padding: 70px 100px;
  }
  .copa h2 {
    margin-right: 38px;
    font-size: 36px;
  }
  .copa p {
    margin-right: 68px;
    font-size: 14px;
  }
  .trophy-main {
    padding: 70px 100px;
  }
  .trophy span {
    font-size: 17px;
  }
  .trophy p {
    font-size: 15px;
  }
  .trophy img {
    height: 275px;
  }
  .trophy-div-2 h3 {
    font-size: 24px;
  }
  .trophy-div-2 h2 {
    font-size: 40px;
  }
  .trophy-div-2 p {
    margin-right: 34px;
    font-size: 14px;
  }
  .couches {
    padding: 90px 90px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
  }
  .couch {
    width: 100%;
  }
}

/* 
    ##Device = Iphone, Android
    ##Screen = 280px to 767px
  */

@media only screen and (max-width: 767px) {
  nav {
    display: none;
  }
  .bannerses,
  .copas {
    flex-direction: column;
    padding: 50px 17px;
  }
  .banner,
  .copa {
    width: 100%;
    margin: 20px 0px;
  }
  .banner h1 {
    font-size: 35px;
    line-height: 50px;
    width: 263px;
  }
  article {
    grid-template-columns: auto;
    margin: 0;
    padding: 30px 15px;
  }
  .players {
    width: 100%;
  }
  .copa h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .trophy-main,
  .trophy-div-1,
  .couches {
    flex-direction: column;
  }
  .trophy {
    width: 100%;
  }
  .trophy img {
    width: 100%;
    height: unset;
  }
  .trophy span {
    font-size: 19px;
  }
  .trophy-div-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trophy-div-2 h3 {
    font-size: 24px;
    margin-top: 40px;
  }
  .trophy-div-2 h2 {
    font-size: 37px;
    width: 276px;
  }
  .trophy-div-2 p {
    font-size: 14px;
    width: 275px;
    text-align: center;
    margin-right: 0;
  }
  .couches {
    align-items: center;
    padding: 20px;
  }
  .couch {
    margin: 0;
    width: 100%;
    margin: 15px 0px;
  }
  .footer img {
    width: 270px;
    height: unset;
  }
}
