@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ///// Banner Section  Start///// */
.banner-sec {
  background-color: #2d25a0;
}
.bannerses {
  display: flex;
  padding: 70px 140px;
  align-items: center;
}
.banner {
  width: 50%;
}
.banner h1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  margin-right: 60px;
  line-height: 80px;
}
.banner h1:hover {
  color: #e02c6d;
}
.banner img {
  width: 100%;
}
button {
  background-color: #e02c6d;
  color: #ffffff;
  border: none;
  font-size: 16px;
  width: 168px;
  padding: 9px 18px;
  margin-top: 14px;
}
button:hover {
  background-color: #f8c5df;
  color: #e02c6d;
}
button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  margin: 0px 10px;
}
button a:hover {
  background-color: #f8c5df;
  color: #e02c6d;
}
/* ///// Banner Section  End///// */

/* ///// Players Start ///// */
article {
  margin: 70px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  justify-content: center;
}
.players {
  width: 330px;
  box-shadow: -2px 2px 15px rgb(225 221 221 / 87%);
}
.name img {
  width: 100%;
  padding: 15px 15px 0px 15px;
}
.text {
  margin: 0px 15px 33px 15px;
}
.text h3 {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  margin-top: 15px;
}
.text p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
}
/* ///// Players End ///// */

/* ///// Copa End ///// */
.copas {
  display: flex;
  align-items: center;
  padding: 70px 140px;
}
.copa {
  width: 50%;
}
.copa h2 {
  font-size: 48px;
  font-weight: 700;
  color: #0a0826;
  margin-right: 65px;
  line-height: 60px;
}
.copa p {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
  margin-right: 136px;
  line-height: 28px;
  margin-top: 8px;
}
.copa img {
  width: 100%;
}
/* ///// Copa End ///// */

/* ///// Trophy Start ///// */
.trophy-main {
  display: flex;
  align-items: center;
  padding: 70px 140px;
  background-color: #f6f6f8;
}

.trophy-div-1 {
  width: 60%;
  display: flex;
}
.trophy {
  width: 33%;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trophy img {
  width: 100%;
  height: 310px;
}
.trophy span {
  font-size: 22px;
  font-weight: 600;
}
.trophy p {
  font-size: 18px;
  font-weight: 400;

  color: #6c6c6c;
}
.trophy-div-2 {
  width: 40%;
}

.trophy-div-2 h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0a0826;
}
.trophy-div-2 h2 {
  font-size: 48px;
  font-weight: 700;
  color: #0a0826;
}
.trophy-div-2 p {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
  line-height: 28px;
  margin-top: 8px;
  margin-right: 100px;
}
/* ///// Trophy Start ///// */

/* ///// Couch Start ///// */
.couches {
  display: flex;
  padding: 90px 140px;
}
.couch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 42px;
  box-shadow: -2px 2px 15px rgb(225 221 221 / 87%);
  padding: 15px;
  width: 25%;
}
.last-child {
  margin-right: 0px;
}
.couch i {
  font-size: 50px;
  margin: 40px 0px 20px 0px;
  color: #0a0826;
}
.couch p {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
  text-align: center;
  margin-top: 10px;
}
/* ///// Couch End ///// */

/* ///// Footer Start ///// */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  width: 482px;
  height: 110px;
}
#foot-i {
  width: 170px;
  margin: 40px 0px;
}
#foot-i i {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: rgb(216, 212, 212);
  color: #6c6c6c;
  font-size: 20px;
  padding: 7px 6px;
}
.footer p {
  color: #2d25a0;
  margin-bottom: 80px;
  font-weight: 500;
}
/* ///// Footer End ///// */

/* -------////////------Media Query ------///////-------- */

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .bannerses {
    padding: 70px 100px;
  }
  .banner h1 {
    font-size: 50px;
    margin-right: 35px;
    line-height: 50px;
  }
  article {
    grid-template-columns: auto auto;
  }
  .copas {
    padding: 70px 100px;
  }
  .copa h2 {
    margin-right: 38px;
    font-size: 36px;
  }
  .copa p {
    margin-right: 68px;
    font-size: 14px;
  }
  .trophy-main {
    padding: 70px 100px;
  }
  .trophy span {
    font-size: 17px;
  }
  .trophy p {
    font-size: 15px;
  }
  .trophy img {
    height: 275px;
  }
  .trophy-div-2 h3 {
    font-size: 24px;
  }
  .trophy-div-2 h2 {
    font-size: 40px;
  }
  .trophy-div-2 p {
    margin-right: 34px;
    font-size: 14px;
  }
  .couches {
    padding: 90px 100px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .bannerses,
  .copas {
    flex-direction: column;
    padding: 50px 17px;
  }
  .banner,
  .copa {
    width: 100%;
    margin: 20px 0px;
  }
  .banner h1 {
    font-size: 36px;
    line-height: 50px;
    width: 298px;
  }
  article {
    grid-template-columns: auto;
    margin: 0;
    padding: 30px 15px;
  }
  .players {
    width: 100%;
  }
  .copa h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .trophy-main,
  .trophy-div-1,
  .couches {
    flex-direction: column;
  }
  .trophy {
    width: 100%;
  }
  .trophy span {
    font-size: 19px;
  }
  .trophy-div-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trophy-div-2 h3 {
    font-size: 24px;
    margin-top: 40px;
  }
  .trophy-div-2 h2 {
    font-size: 40px;
    width: 300px;
  }
  .trophy-div-2 p {
    font-size: 14px;
    width: 300px;
    text-align: center;
    margin-right: 0;
  }
  .couches {
    align-items: center;
    padding: 20px;
  }
  .couch {
    margin: 0;
    width: 100%;
    margin: 15px 0px;
  }
}
